header {
    overflow: hidden;
    border-top: double thick lightgray;
    border-bottom: double thick lightgray;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    padding: 0;
    white-space: nowrap;
    min-height: 40px;
}

.content {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.logo {
    margin: 0;
    float: left;
}

.logo img {
    max-height: 40px;
    vertical-align: middle;
    display: inline-block;
}

.logo span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

header nav {
    white-space: nowrap;
}

header .nav-link {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 11px 11px;
}

header .current-page {
    box-sizing: border-box;
    border-left: double thick lightgray;
    border-right: double thick lightgray;
    color: green;
    font-weight: bold;
}

/*---- */

.img-galery {
    white-space: nowrap;
    margin-top: 5px;
    padding: 0;
    height: auto;

}

.img-galery a {
    display: inline-block;
    width: 19.5%;
    margin: 0 1px;
    text-decoration: none;
}

.img-galery img {
    width: 100%;
    display: inline-block;
    padding: 0;
}

.img-high {
    vertical-align: 1em;
}

/* центральный блок */

.central {
    display: inline-block;
    box-sizing: border-box;
    width: 59%;
    vertical-align: top;
    font-size: 16px;
    white-space: normal;
    height: 700px;
}

.central .big-paragraph {
    box-sizing: border-box;
    border: thin solid black;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    white-space: normal;
    height: 25%;
    overflow: hidden;
}

.big-paragraph p {
    max-height: 50%;
    overflow: hidden;
}

.central .middle-bottom-line {
    white-space: nowrap;
    height: 74%;
}

.middle-bottom-box {
    box-sizing: border-box;
    border: thin solid lightblue;
    border-radius: 20px;
    padding: 15px;
    width: 33%;
    overflow: hidden;
    display: inline-block;
    min-height: 400px;
    height: 100%;
}

.middle-bottom-box h3 {
    white-space: normal;
}

.middle-bottom-box p {
    overflow: hidden;
    white-space: normal;
    height: 47%;
}

.middle-bottom-box span {
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
}

.middle-bottom-box img {
    width: 53%;
    height: 40%;
    border-radius: 10px;
}

/* левый блок */
.left {
    display: inline-block;
    box-sizing: border-box;
    border-right: thin solid black;
    width: 20%;
    height: 700px;
    overflow: hidden;
}

.left-box {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    white-space: normal;
    margin-bottom: 5px;
}


.left-box .information {
    display: inline-block;
    width: 75%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.left-box .information h3,
.left-box .information p {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    font-size: 11pt;
    margin: 0;
}

.left-box .information h3 {
    margin-bottom: 5px;
    height: 5%;
}

.left-box .information p {
    margin-bottom: 10px;
    height: 80%;
}

.left-box img {
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

/* --- */
.left-box-bottom {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    white-space: normal;
}


.left-box-bottom .information {
    display: inline-block;
    width: 75%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.left-box-bottom .information h3,
.left-box-bottom .information p {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    font-size: 11pt;
    margin: 0;
}

.left-box-bottom .information h3 {
    margin-bottom: 5px;
}

.left-box-bottom .information p {
    margin-bottom: 10px;
    height: 80%;
}

.left-box-bottom img {
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

/* правый блок*/
.right {
    display: inline-block;
    box-sizing: border-box;
    border-left: thin solid black;
    width: 20%;
    height: 700px;
    overflow: hidden;
    margin-left: 3px;
}

.right-box {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    white-space: nowrap;
    margin-bottom: 5px;
}

.right-box .information {
    display: inline-block;
    width: 75%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.right-box .information h3,
.right-box .information p {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    font-size: 11pt;
    margin: 0;
}

.right-box .information h3 {
    margin-bottom: 5px;
}

.right-box .information p {
    margin-bottom: 10px;
    height: 80%;
}

.right-box img {
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

/* --- */
.right-box-bottom {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    white-space: nowrap;
}


.right-box-bottom .information {
    display: inline-block;
    width: 80%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.right-box-bottom .information h3,
.right-box-bottom .information p {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    font-size: 11pt;
    margin: 0;
}

.right-box-bottom .information h3 {
    margin-bottom: 5px;
}

.right-box-bottom .information p {
    margin-bottom: 10px;
    height: 75%;
}

.right-box-bottom img {
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

/* общие компоненты */
.more {
    color: rgb(175, 79, 10);
    text-decoration: underline;
    float: right;
}

.more-btn {
    display: inline-block;
    border: solid thin black;
    border-radius: 5px;
    color: white;
    background: rgb(0, 98, 255);
    vertical-align: bottom;
}